@model IEnumerable<CollegeApp.Models.Course>

@{
    ViewData["Title"] = "Index";
}


<h1>CreateCourse</h1>


<hr />

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto box-shadow">
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!:</strong> @TempData["Message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            @if (TempData["MessageError"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error!:</strong>  @TempData["MessageError"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseCode)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseCode)
                            </td>
                            <td>

                                <a href="course/edit/@item.Id" class="btn btn-sm btn-primary"> Edit</a>
                                <a onclick="return confirm('Are you sure?')" href="course/delete/@item.Id" class="btn btn-sm btn-danger"> Delete</a>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

